<html>
<head>
  <title>Foundations</title>
  <link rel="shortcut icon" href="/images/logo.png">
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrapOver.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
  <script src="/javascripts/angularApp.js"></script>
  <script type="text/javascript" src="/javascripts/sortable.js"></script>
  <style> .glyphicon-thumbs-up { cursor:pointer } </style>
  <!-- Animate -->
  <link href="/template/animate.css" rel="stylesheet">
  <!-- flex slider css -->
  <link href="/template/flexslider.css" rel="stylesheet" type="text/css" media="screen">
  <!-- Jquery easing -->
  <script type="text/javascript" src="/template/jquery.easing.1.3.min.js"></script>
  <script src="/template/wow.min.js"></script>
  <script type="text/javascript" src="/template/jquery.magnific-popup.min.js"></script>
  <!--sticky header-->
  <script type="text/javascript" src="/template/jquery.sticky.js"></script>
  <script src="/template/waypoints.min.js" type="text/javascript"></script>
  <script src="/template/jquery.counterup.min.js" type="text/javascript"></script>
  <!--flex slider plugin-->
  <script src="/template/jquery.flexslider-min.js" type="text/javascript"></script>
  <!--common script for all pages-->
  <script src="/template/jquery.app.js"></script>
  <script type="text/javascript">
      jQuery(document).ready(function($) {
          $('.counter').counterUp({
              delay: 100,
              time: 1200
          });
          $('.main-slider').flexslider({
              slideshowSpeed: 7000,
              directionNav: false,
              controlNav: true,
              animation: "fade"
          });
      });
  </script>
  
</head>
<body ng-app="flapperNews">

<!-- Navbar -->



<nav class="navbar-default navbar-inverse navbar-fixed-top" ng-controller="NavCtrl" >
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand logo" href="/#/" ng-click="show()">FOUNDATIONS</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ng-show="isLoggedIn()"><a href="/#/profile/{{currentUser()}}"><span class="glyphicon glyphicon-user"></span> {{ currentUser() }}</a></li>
        <li ng-hide="isLoggedIn()"><a href="/#/register" ng-click="hide()"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li ng-hide="isLoggedIn()"><a href="/#/login" ng-click="hide()"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <li ng-show="isLoggedIn()"><a href="" ng-click="logOut() "><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- /Navbar -->

  <div id="bg" style="margin-top:50px;" ng-controller="NavCtrl" >
  <section class="home bg-img" id="home">
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="home-wrapper">
                        <div class="main-slider">
                            <ul class="slides">
                                <li>
                                    <h1 class="animated fadeInDown wow" data-wow-delay=".1s">One of a Kind</h1>
                                    <h4 class="animated fadeInLeft wow" data-wow-delay=".2s">The first platform in Hong Kong that gathers all the foundations in one place. Here you can be part of the change.</h4>
                                    <a href="" class="btn btn-custom btn-rnd animated fadeInUp wow" data-wow-delay=".4s">Learn more</a>
                                </li>
                                <li>
                                    <h1 class="animated fadeInDown wow" data-wow-delay=".1s">Foundations</h1>
                                    <h4 class="animated fadeInLeft wow" data-wow-delay=".2s">Fundations is a non profit organization created to provide a link between donators and fundations all over the world. We have the aproval of Hong Kong Donations Association and it has been certificated by the must stricts norms</h4>
                                    <a href="" class="btn btn-custom btn-rnd animated fadeInUp wow" data-wow-delay=".4s">Learn more</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- FEATURES-1 -->
    <section class="" id="services">
        <div class="container" id="jt3">

            <div class="row text-center">

                <div class="col-sm-4 wow fadeInLeft animated animated" style="visibility: visible; animation-name: fadeInLeft;">
                    <div class="services-box">
                        <div class="icon-box">
                            <img src="/images/convenient.png" alt="">
                        </div>


                        <div>
                            <h4 class="font-bold">Convenient</h4>
                            <p class="text-muted">Fundations is a non profit organization created to provide a link between donators and fundations all over the world</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 wow fadeInUp animated animated" style="visibility: visible; animation-name: fadeInUp;">
                    <div class="services-box">
                        <div class="icon-box">
                            <img src="/images/safe.png" alt="">
                        </div>


                        <div>
                            <h4 class="font-bold">Safe</h4>
                            <p class="text-muted">Fundations have the aproval of Hong Kong Donations Association and it has been certificated by the must stricts norms</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 wow fadeInRight animated animated" style="visibility: visible; animation-name: fadeInRight;">
                    <div class="services-box">
                        <div class="icon-box">
                            <img src="./images/friend.png" alt="">
                        </div>


                        <div>
                            <h4 class="font-bold">Friendly</h4>
                            <p class="text-muted">Here you can find all the information you need about the current fundations of Hong Kong and meet friends with commun interest</p>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </section>
    <!-- END FEATURES-1 -->

        <!-- Start Content Block 1-6 -->
    <section id="content-1-6" class="section2 content-1-6 content-block bg-gray">
      
      <div class="container" ng-init="c =' '" ng-show="isLoggedIn()">
        <div class="row text-center" style="margin-bottom:30px;">
          <div class="editContent">
                <h2>Find your Foundation</h2>
          </div>
        </div><!--end of row-->
        
        <div class="row client-row text-center" style="margin-bottom:30px;">
          <div class="row-wrapper">

            <div ng-mouseover="c = 'all'" class="col-md-3 hidden-sm hidden-xs category">
              <img alt="client" src="images/all.png">
            </div>

            <div ng-mouseover="c = 'social'" class="col-md-3 col-sm-6 col-xs-12 category">
              <img alt="client" src="images/help.png">
            </div>
          
            <div ng-mouseover="c = 'environmental'" class="col-md-3 col-sm-6 col-xs-12 category">
              <img alt="client" src="images/help1.png">
            </div>
          
            <div ng-mouseover="c = 'music'" class="col-md-3 col-sm-6 col-xs-12 category">
              <img alt="client" src="images/music.png">
            </div>
          
          </div>
        </div><!-- /.row -->
        
        <div class="row client-row text-center" >
          <div class="row-wrapper">
            <div ng-mouseover="c = 'sports'" class="col-md-3 hidden-sm hidden-xs category">
              <img alt="client" src="images/sport.png">
            </div>
          
            <div ng-mouseover="c = 'science'" class="col-md-3 col-sm-6 col-xs-12 category">
              <img alt="client" src="images/science.png">
            </div>
          
            <div ng-mouseover="c = 'art'" class="col-md-3 hidden-sm hidden-xs category">
              <img alt="client" src="images/art.png">
            </div>
          
            <div ng-mouseover="c = 'politic'" class="col-md-3 hidden-sm hidden-xs category">
              <img alt="client" src="images/politic.png">
            </div>
          </div>
        </div><!-- /.row -->
        <h2 id="choose">{{c}}</h2>
      </div><!-- /.container -->
    
    </section>

    </div>
  </div>


  <div id="box3" class ="jumbotron">
    <ui-view></ui-view>
  </div>

  <!-- FOOTER -->
    <footer class="section bg-gray footer">
        <div class="container footer2">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <h5>Foundations</h5>
                    <ul class="list-unstyled">
                        <li><a href="">Home</a>
                        </li>
                        <li><a href="">Features</a>
                        </li>
                        <li><a href="">About Us</a>
                        </li>
                        <li><a href="">FAQ</a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-3 col-sm-6">
                    <h5>Social</h5>
                    <ul class="list-unstyled">
                        <li><a href="">Facebook</a>
                        </li>
                        <li><a href="">Twitter</a>
                        </li>
                        <li><a href="">Google +</a>
                        </li>
                        <li><a href="">Instagram</a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-3 col-sm-6">
                    <h5>Support</h5>
                    <ul class="list-unstyled">
                        <li><a href="">Help &amp; Support</a>
                        </li>
                        <li><a href="">Privacy Policy</a>
                        </li>
                        <li><a href="">Terms &amp; Conditions</a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-3 col-sm-6">
                    <h5>Contact</h5>
                    <address>
            793 Folsom Ave, Suite 601<br>
            Hong Kong, HK 94107<br>
            <span title="Phone">P:</span> (569) 89763792<br>
            E: <a href="mailto:foundations@fdts.com">foundations@fdts.com</a>
          </address>
                </div>

            </div>
        </div>
    </footer>

    <!-- END FOOTER -->

</body>


<script type="text/ng-template" id="/home.html" ng-src="/javascripts/home.js">
  <div ng-hide="isLoggedIn()">
      <p>You need to <a ng-click="hide()" href="/#/login">Log In</a> or <a ng-click="hide()" href="/#/register">Sign Up</a> before you can add a post.</p>
    </div>

  <form ng-submit="addPost()" ng-show="isLoggedIn()" style="margin-top:30px;" method="post">

    <p>Add a new post</p>

    <div class="form-group">
      <input type="text"
        class="form-control"
        placeholder="Title"
        ng-model="title"></input>
    </div>
    <div class="form-group">
      <input type="text"
      class="form-control"
      placeholder="Link"
      ng-model="link"></input>
    </div>

    <button type="submit" class="btn btn-default">Post</button>
  </form>

  <ul ui-sortable ng-model="posts"> 
    <li ng-repeat="post in posts ">
      <span class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(post)"></span>
      {{post.upvotes}}
      <span style="font-size:15px; margin-left:10px;">
          <a ng-show="post.link" ng-href="http://{{post.link}}">
            {{post.title}} 
          </a>
          <span ng-hide="post.link" style="font-size:15px; margin-left:10px;">
            {{post.title}}
          </span>
          <span ng-show="post.author" style="font-size:15px; margin-left:10px;">
            posted by <a>{{post.author}}</a> 
          </span>
      </span>
      <span style="font-size:15px; margin-left:10px;">
          <a href="#/posts/{{post._id}}">Comments</a>
      </span>
      <span style="font-size:15px; margin-left:10px;" class= "glyphicon glyphicon-trash" ng-show="isLoggedIn()" ng-click= "deletePost($index,post)"></span>
    </li>
  </ul>
</script>

<script type="text/ng-template" id="/posts.html">

<div class="page-header">
    <h3>
      <a ng-show="post.link" href="{{post.link}}">
        {{post.title}}
      </a>
      <span ng-hide="post.link">
        {{post.title}}
      </span>
    </h3>
  </div>

  <div ng-repeat="comment in post.comments "> 
    <span class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(comment)"></span>
    {{comment.upvotes}} - by {{comment.author}}
    <span style="font-size:20px; margin-left:10px;">
      {{comment.body}}
    </span>
    <span class= "glyphicon glyphicon-trash" ng-click= "deleteComment($index,comment)"></span>
  </div>

  <form ng-submit="addComment()" ng-show="isLoggedIn()" style="margin-top:30px;">

    <div ng-hide="isLoggedIn()">
      <p>You need to <a href="/#/login" ng-click="hide()">Log In</a> or <a href="/#/register" ng-click="hide()">Sign Up</a> before you can comment.</p>
    </div>
    <p style="font-size:15px; font-weight: bold;">Add a new comment</p>

    <div class="form-group">
      <input type="text"
      class="form-control"
      placeholder="Comment"
      ng-model="body"></input>
    </div>
    <button type="submit" class="btn btn-default">Post</button>
  </form>
  <a href="/#/home" ng-click="show()">Back</a>

</script>


<script type="text/ng-template" id="/register.html">
 


  <div class="row">
    <div class="col-md-6">
      <div ng-show="error" class="alert alert-danger row">
        <span>{{ error.message }}</span>
      </div>
      <form ng-submit="register()"
      style="margin-top:30px;">
      <h3 class= "formy">Register</h3>

      <div class="form-group formx">
        <input type="text"
        class="form-control"
        placeholder="Username"
        ng-model="user.username" 
        autofocus="autofocus"></input>
      </div>
      <div class="form-group formx">
        <input type="text"
        class="form-control"
        placeholder="Email"
        ng-model="user.email"></input>
      </div>
      <div class="form-group formx">
        <input type="password"
        class="form-control"
        placeholder="Password"
        ng-model="user.password"></input>
      </div>
      <div class="form-group formx">
        <input type="password"
        class="form-control"
        placeholder="Repeat Password"
        ng-model="user.password"></input>
      </div>
      <div class="formy">
        <button type="submit" class="btn btn-default" ng-click="show()">Register</button>
      </div>
      <hr>
      <div class="formy">
        <div class="btn btn-facebook" ><span class="glyphicon glyphicon-log-in"></span> &nbsp;&nbsp;&nbsp;&nbsp; Log In with Facebook</div>
      </div>
      </form>
      </div>
      <div class="col-md-6">
          <h3 class= "formy">How it Works</h3>
          <div class= "formy">
            <iframe width="420" height="345"
              src="http://www.youtube.com/embed/415iM8rr1X8">
            </iframe>
          </div>
      </div>
  </div>

  
</script>


<script type="text/ng-template" id="/login.html">

  <div ng-show="error" class="alert alert-danger row">
    <span>{{ error.message }}</span>
  </div class="col-md-4">

  <form ng-submit="logIn()"
    style="margin-top:30px;">
    <h3 class= "formy">Log In</h3>

    <div class="form-group formx">
      <input type="text"
      class="form-control"
      placeholder="Username"
      ng-model="user.username" 
      ></input>
    </div>
    <div class="form-group formx">
      <input type="password"
      class="form-control"
      placeholder="Password"
      ng-model="user.password"></input>
    </div>

    <div class="formy">
    <button type="submit" class="btn btn2 btn-default" ng-click="show()">Log In</button>
    <div class="checkbox">
    <label><input type="checkbox" value="">Remember me · </label>
    <a>Forgot your password?</a>
    </div>

    <hr>
    <div class="btn btn-facebook" ><span class="glyphicon glyphicon-log-in"></span> &nbsp;&nbsp;&nbsp;&nbsp; Log In with Facebook</div>
    </div>

  </form>

  </script>



</html>
