<html>
<head>
  <title>Foundations</title>
  <link rel="shortcut icon" href="/images/logo.png">
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrapOver.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
  <script src="/javascripts/angularApp.js"></script>
  <script type="text/javascript" src="/javascripts/sortable.js"></script>
  <style> .glyphicon-thumbs-up { cursor:pointer } </style>
  
</head>
<body ng-app="flapperNews">

<!-- Navbar -->

<nav class="navbar-default navbar-inverse navbar-fixed-top" ng-controller="NavCtrl" >
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/#/" ng-click="getHide()">Foundations (BETA)</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ng-show="isLoggedIn()"><a><span class="glyphicon glyphicon-user"></span> {{ currentUser() }}</a></li>
        <li ng-hide="isLoggedIn()"><a href="/#/register" ng-click="setHide()"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li ng-hide="isLoggedIn()"><a href="/#/login" ng-click="setHide()"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <li ng-show="isLoggedIn()"><a href="" ng-click="logOut() "><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- /Navbar -->

  <div id="bg" class="container" style="margin-top:80px;" ng-controller="NavCtrl" >

    <div class="row">
      <div class="col-md-12">
        <div id="jt3" class="jumbotron"> 
          <!-- Example row of columns -->
          <div class="row">
            <div class="col-md-4">
              <div class="circular c1"></div>
              <h2>Convenient</h2>
              <p style="font-size:15px;">Fundations is a non profit organization created to provide a link between donators and fundations all over the world</p>
              <p><a class="btn btn-default" role="button">Learn More »</a></p>
           </div>
            <div class="col-md-4">
              <div class="circular c2"></div>
              <h2>Safe</h2>
              <p style="font-size:15px;">Fundations have the aproval of Hong Kong Donations Association and it has been certificated by the must stricts norms</p>
              <p><a class="btn btn-default" href="" role="button">Learn More »</a></p>
            </div>
            <div class="col-md-4">
              <div class="circular c3"></div>
              <h2>Friendly</h2>
              <p style="font-size:15px;">Here you can find all the information you need about the current fundations of Hong Kong and meet friends with commun interest </p>
              <p><a class="btn btn-default" href="" role="button">Learn More »</a></p>
            </div>
          </div>
        </div>

        <!-- Start Content Block 1-6 -->
    <section id="content-1-6" class="content-1-6 content-block">
    
    <div class="jumbotron" ng-init="c =' '" ng-show="isLoggedIn()">
      <div class="row text-center" style="margin-bottom:30px;">
        <div class="editContent">
              <h2>Find your Foundation</h2>
        </div>
      </div><!--end of row-->
      
      <div class="row client-row text-center" style="margin-bottom:30px;">
        <div class="row-wrapper">

          <div ng-mouseover="c = 'all'" class="col-md-3 hidden-sm hidden-xs category">
            <img alt="client" src="images/all.png">
          </div>

          <div ng-mouseover="c = 'social'" class="col-md-3 col-sm-6 col-xs-12 category">
            <img alt="client" src="images/help.png">
          </div>
        
          <div ng-mouseover="c = 'environmental'" class="col-md-3 col-sm-6 col-xs-12 category">
            <img alt="client" src="images/help1.png">
          </div>
        
          <div ng-mouseover="c = 'music'" class="col-md-3 col-sm-6 col-xs-12 category">
            <img alt="client" src="images/music.png">
          </div>
        
        </div>
      </div><!-- /.row -->
      
      <div class="row client-row text-center" >
        <div class="row-wrapper">
          <div ng-mouseover="c = 'sports'" class="col-md-3 hidden-sm hidden-xs category">
            <img alt="client" src="images/sport.png">
          </div>
        
          <div ng-mouseover="c = 'science'" class="col-md-3 col-sm-6 col-xs-12 category">
            <img alt="client" src="images/science.png">
          </div>
        
          <div ng-mouseover="c = 'art'" class="col-md-3 hidden-sm hidden-xs category">
            <img alt="client" src="images/art.png">
          </div>
        
          <div ng-mouseover="c = 'politic'" class="col-md-3 hidden-sm hidden-xs category">
            <img alt="client" src="images/politic.png">
          </div>
        </div>
      </div><!-- /.row -->
      <h2 id="choose">{{c}}</h2>
    </div><!-- /.container -->
    
    </section>

    </div>
  </div>


  <div id="box3" class ="jumbotron">
    <ui-view></ui-view>
  </div>

  <footer>
    <p class="text-center" style="font-size:10px;">About Help Blog Status Jobs Terms Privacy Cookies Ads info Brand Advertise Businesses Media Developers Directory © 2015 Foundations</p>
  </footer>
  

</body>


<script type="text/ng-template" id="/home.html" ng-src="/javascripts/home.js">
  <div ng-hide="isLoggedIn()">
      <p>You need to <a href="/#/login" ng-click="setHide()">Log In</a> or <a href="/#/register" ng-click="setHide()">Sign Up</a> before you can add a post.</p>
    </div>

  <form ng-submit="addPost()" ng-show="isLoggedIn()" style="margin-top:30px;" method="post">

    <p>Add a new post</p>

    <div class="form-group">
      <input type="text"
        class="form-control"
        placeholder="Title"
        ng-model="title"></input>
    </div>
    <div class="form-group">
      <input type="text"
      class="form-control"
      placeholder="Link"
      ng-model="link"></input>
    </div>

    <button type="submit" class="btn btn-default">Post</button>
  </form>

  <ul ui-sortable ng-model="posts"> 
    <li ng-repeat="post in posts ">
      <span class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(post)"></span>
      {{post.upvotes}}
      <span style="font-size:15px; margin-left:10px;">
          <a ng-show="post.link" ng-href="http://{{post.link}}">
            {{post.title}} 
          </a>
          <span ng-hide="post.link" style="font-size:15px; margin-left:10px;">
            {{post.title}}
          </span>
          <span ng-show="post.author" style="font-size:15px; margin-left:10px;">
            posted by <a>{{post.author}}</a> 
          </span>
      </span>
      <span style="font-size:15px; margin-left:10px;">
          <a href="#/posts/{{post._id}}">Comments</a>
      </span>
      <span style="font-size:15px; margin-left:10px;" class= "glyphicon glyphicon-trash" ng-show="isLoggedIn()" ng-click= "deletePost($index,post)"></span>
    </li>
  </ul>
  <hr>
</script>

<script type="text/ng-template" id="/posts.html">

<div class="page-header">
    <h3>
      <a ng-show="post.link" href="{{post.link}}">
        {{post.title}}
      </a>
      <span ng-hide="post.link">
        {{post.title}}
      </span>
    </h3>
  </div>

  <div ng-repeat="comment in post.comments "> 
    <span class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(comment)"></span>
    {{comment.upvotes}} - by {{comment.author}}
    <span style="font-size:20px; margin-left:10px;">
      {{comment.body}}
    </span>
    <span class= "glyphicon glyphicon-trash" ng-click= "deleteComment($index,comment)"></span>
  </div>

  <form ng-submit="addComment()" ng-show="isLoggedIn()" style="margin-top:30px;">

    <div ng-hide="isLoggedIn()">
      <p>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Sign Up</a> before you can comment.</p>
    </div>
    <p style="font-size:15px; font-weight: bold;">Add a new comment</p>

    <div class="form-group">
      <input type="text"
      class="form-control"
      placeholder="Comment"
      ng-model="body"></input>
    </div>
    <button type="submit" class="btn btn-default">Post</button>
  </form>
  <a href="/#/home">Back</a>

</script>


<script type="text/ng-template" id="/register.html">
 


  <div class="row">
    <div class="col-md-6">
      <div ng-show="error" class="alert alert-danger row">
        <span>{{ error.message }}</span>
      </div>
      <form ng-submit="register()"
      style="margin-top:30px;">
      <h3 class= "formy">Register</h3>

      <div class="form-group formx">
        <input type="text"
        class="form-control"
        placeholder="Username"
        ng-model="user.username" 
        autofocus="autofocus"></input>
      </div>
      <div class="form-group formx">
        <input type="text"
        class="form-control"
        placeholder="Email"
        ng-model="user.email"></input>
      </div>
      <div class="form-group formx">
        <input type="password"
        class="form-control"
        placeholder="Password"
        ng-model="user.password"></input>
      </div>
      <div class="form-group formx">
        <input type="password"
        class="form-control"
        placeholder="Repeat Password"
        ng-model="user.password"></input>
      </div>
      <div class="formy">
        <button type="submit" class="btn btn-default" ng-click="getHide()">Register</button>
      </div>
      <hr>
      <div class="formy">
        <div class="btn btn-facebook" ><span class="glyphicon glyphicon-log-in"></span> &nbsp;&nbsp;&nbsp;&nbsp; Log In with Facebook</div>
      </div>
      </form>
      </div>
      <div class="col-md-6">
          <h3 class= "formy">How it Works</h3>
          <div class= "formy">
            <iframe width="420" height="345"
              src="http://www.youtube.com/embed/415iM8rr1X8">
            </iframe>
          </div>
      </div>
  </div>

  
</script>


<script type="text/ng-template" id="/login.html">

  <div ng-show="error" class="alert alert-danger row">
    <span>{{ error.message }}</span>
  </div class="col-md-4">

  <form ng-submit="logIn()"
    style="margin-top:30px;">
    <h3 class= "formy">Log In</h3>

    <div class="form-group formx">
      <input type="text"
      class="form-control"
      placeholder="Username"
      ng-model="user.username" 
      ></input>
    </div>
    <div class="form-group formx">
      <input type="password"
      class="form-control"
      placeholder="Password"
      ng-model="user.password"></input>
    </div>

    <div class="formy">
    <button type="submit" class="btn btn2 btn-default" ng-click="getHide()">Log In</button>
    <div class="checkbox">
    <label><input type="checkbox" value="">Remember me · </label>
    <a>Forgot your password?</a>
    </div>

    <hr>
    <div class="btn btn-facebook" ><span class="glyphicon glyphicon-log-in"></span> &nbsp;&nbsp;&nbsp;&nbsp; Log In with Facebook</div>
    </div>

  </form>

  </script>



</html>
