body {
    max-width: 100%;
    overflow-x: hidden;

}

a {
  color: #318595;
}

p {
	text-align : justify;
}

#choose {
  text-transform: uppercase; 
  font-weight:bold; 
  text-align: center; 
  margin-top: 40px;
  color: #318595;
}

#jt3 {
  width: 100%;
}

.logo {
  color: #d0452d;
}

.jumbotron {
	background:rgba(255,255,255,0.7);
}

.category {
	transition: all 0.3s ease 0s;
}

.category:hover {
  box-shadow: inset 0 0 0 5px #318595;
}

.circular {
  
  margin-left: auto;
  margin-right: auto;
  
}

.c1 {
  width: 2800px;
  height: 220px;
  background: url(/images/convenient.png) no-repeat;
}
.c2 {
  width: 280px;
  height: 220px;
  background: url(/images/safe.png) no-repeat;
}

.c3 {
  width: 280px;
  height: 220px;
  background: url(/images/friend.png) no-repeat;
}

.c4 {
  width: 400px;
  height: 350px;
  border-color: #d2493b;
}

.form-group {
	max-width: 70%;
}
.navbar-default {
  background-color: #ffffff;
  border-color: #d2493b;
  border-bottom: 1px solid lightgray;

}
.navbar-default .navbar-brand {
  color: #318595;
  font-weight: bold;
}
.navbar-default .navbar-brand .navbar-right {
  color: #318595;
  font-weight: bold;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #256470;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #318595;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #256470;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #256470;
  background-color: #256470;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #256470;
  background-color: #256470;
}
.navbar-default .navbar-toggle {
  border-color: #256470;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #256470;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #ffbbbc;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffbbbc;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffbbbc;
    background-color: #d2493b;
  }
}

.formx {
  float: none;
  margin: 10px auto;
}

.formy {
  text-align: center;
}

.btn-facebook {
  background-color: #318595;
  font-weight: bold;
  color: white;
  text-align: center;
  width: 60%;
  margin-bottom: 10px;
  transition: all 0.3s ease 0s;

}
.btn-facebook:hover {
  color:white;
  background-color: #276a77;

}

.btn2 {
  width: 60%;
}

.section {
  padding-top: 80px;
  padding-bottom: 80px;
}

/*======= Home =======*/

.bg-img {
  background: url("/images/bg3.png");
  position: relative;
}

.home-wrapper {
  color: #ffffff;
  padding: 150px 0px 150px 0px;
}
.home-wrapper h4 {
  line-height: 24px;
  color: #eee;
  margin-bottom: 50px;
  font-size: 16px;
}
.main-slider .flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: 30px;
    text-align: center;
}

.main-slider .flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: rgba(255,255,255,0.8); 
  cursor: pointer;
  text-indent: -9999px;
  box-shadow: none; 
}
.main-slider .flex-control-paging li a:hover { 
  background: #333;
  background: rgba(255,255,255,0.9);
}
.main-slider .flex-control-paging li a.flex-active { 
  background: #318595;
}


/*======= Buttons ======= */
.btn {
  text-transform: uppercase;
  font-weight: 700;
}
.btn.btn-rnd {
  padding: 11px 40px;
  border-radius: 30px;
}
.btn-custom:focus {
  background: #318595;
  border: 1px solid #318595;
  outline: none;
}
.btn-custom:hover {
  background: #318595 !important;
  border: 1px solid #318595;
}
.btn-custom {
  background: #318595 !important;
  color: #fff !important;
  border: 1px solid #318595;
}

/*======= Services =======*/
.services-box {
  margin: 40px 0px;
}
.services-box .icon-box {
    min-height: 240px;
}
.services-box .icon-box img{
    max-width: 250px;
    margin: 0px auto;
}

.facts {
  margin-bottom: 20px;
}

/*======= Categories =======*/

.bg-gray {
  background-color: #eef2f5;
  border-bottom: 1px solid #e9e9e9;
  border-top: 1px solid #e9e9e9;
  max-height: 400px;
}

/*======= Footer CTA =======*/
.footer-cta {
  color: #ffffff;
}
.footer-cta .btn {
  margin-top: 30px;
}


/*======= Footer =======*/
.footer h5{
  color: #333;
  font-size: 15px;
  margin-bottom: 20px;
  font-weight: 700;
  letter-spacing: 1px;
}
.footer a{
  color: #97a0af;
}
.footer a:hover {
  color: #318595;
}
.footer ul li {
  margin: 5px 0px;
}
.footer-alt {
  border-top: 1px solid rgba(151, 160, 175, 0.2);
  margin-top: 30px;
  padding-top: 20px;
}
.footer-alt .logo {
  color: #97a0af !important;
  margin-bottom: 0px;
}
.footer-alt .logo i {
  margin-right: 5px;
}






