body {
    background-image: url("/images/bg3.png");

}

a {
  color: #318595;
}

p {
	text-align : justify;
}

#choose {
  text-transform: uppercase; 
  font-weight:bold; 
  text-align: center; 
  margin-top: 40px;
  color: #318595;
}

.jumbotron {
	background:rgba(255,255,255,0.8);
}

.category {
	transition: all 0.3s ease 0s;
}

.category:hover {
  box-shadow: inset 0 0 0 5px #318595;
}

.circular {
  
  margin-left: auto;
  margin-right: auto;
  
}

.c1 {
  width: 2800px;
  height: 220px;
  background: url(/images/convenient.png) no-repeat;
}
.c2 {
  width: 280px;
  height: 220px;
  background: url(/images/safe.png) no-repeat;
}

.c3 {
  width: 280px;
  height: 220px;
  background: url(/images/friend.png) no-repeat;
}

.c4 {
  width: 400px;
  height: 350px;
  border-color: #d2493b;
}

.form-group {
	max-width: 70%;
}
.navbar-default {
  background-color: #f25c4c;
  border-color: #d2493b;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ffbbbc;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ffbbbc;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ffbbbc;
  background-color: #d2493b;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ffbbbc;
  background-color: #d2493b;
}
.navbar-default .navbar-toggle {
  border-color: #d2493b;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #d2493b;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #ffbbbc;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffbbbc;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffbbbc;
    background-color: #d2493b;
  }
}

.formx {
  float: none;
  margin: 10px auto;
}

.formy {
  text-align: center;
}

.btn-facebook {
  background-color: #318595;
  font-weight: bold;
  color: white;
  text-align: center;
  width: 60%;
  margin-bottom: 10px;
  transition: all 0.3s ease 0s;

}
.btn-facebook:hover {
  color:white;
  background-color: #276a77;

}

.btn2 {
  width: 60%;
}

.responsive-video {
position: relative;
padding-bottom: 56.25%;
padding-top: 60px; overflow: hidden;
}


.responsive-video iframe,
.responsive-video object,
.responsive-video embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}








